*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'montserratregular', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

/* -------------------------------------------header-menu------------------------------------------- */
header{padding-top: 140px;}
.contact {
    display: flex;
    color: #AAAAAA;
    width: auto;
    min-height: 40px;
    background-color: #F4F4F4;
    overflow: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 30px;
}

.tel {
    display: flex;
    gap: 5px;
}
.tel a{
    text-decoration: none;
    color: #AAAAAA;
}
.tel a:hover{
    text-decoration: underline;
}

.languages {
    display: flex;
    gap: 5px;
}

.languages a{
    text-decoration:  none;
    color: #AAAAAA;
}

header .languages svg {
    width: 14px;
}


header .menu {
    display: flex;
    width: 100%;
    min-height: 99px;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
    overflow: auto;
    padding: 0 75px;
    justify-content: space-between
}
.header-menu{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #FFFFFF;
    top: 0;
}
.header-menu .logo {
    width: 50px;
}

header .menu__list {
    display: flex;
    gap: 110px;
}
.header .menu__list a{
    color: #000000;
    text-decoration: none;
}
header .menu__list a:hover{
    opacity: 0.6;
}

header .location {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 47px;
}

header .menu__box {
    display: flex;
}

header .location img {
    width: 20px;
}

.basket img {
    width: 25px;
}

.baner {
    display: flex;
}

.baner img {
    margin: 50px auto;
    width: 1327px;
}

/* -----------------------------------------projects------------------------------------------ */

.projects {
    margin: 50px auto 150px;
}

.projects__content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    justify-content: center;
}

.projects img {
    display: flex;
    width: 588px;
    margin-bottom: 10px;
}

.project {
    color: #1A1A1A;
    font-size: 23px;
    line-height: 23px;
}

/* -----------------------------------------advantages------------------------------------------ */
.advantages {
    margin: 0px auto 150px;
}

.advantages__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.advantages__content h2 {
    color: #1A1A1A;
    font-size: 48px;
    width: 1180px;
    margin-bottom: 25px;
}

.advantages__content a {
    color: #46856E;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.advantages__wrapper {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.advantages-box {
    display: flex;
    flex-direction: column;
    width: 323px;
}

.advantages-box img {
    width: 162px;
    margin: auto;
}

.advantages-box h3 {
    color: #1A1A1A;
    font-size: 24px;
    padding-top: 45px;
    padding-bottom: 19px;
}

.advantages-box p {
    color: #AAAAAA;
    font-size: 16px;
}

/* -----------------------------------------bf------------------------------------------ */
.subscription {
    margin: 100px auto 80px;
}

.subscription__box {
    display: flex;
    width: 1200px ;
    height: 465px;
    margin: auto;
    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: space-evenly;
}

.subscription__box h3 {
    font-size: 46px;
    line-height: 50px;
    color: #000000;
    text-align: center;
}

.w {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.w div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.w p {
    color: #1A1A1A;
    font-size: 12px;

}

.subscription__box img {
    width: 64px;
}

.subscription__box button {
    display: flex;
    width: 146px;
    height: 50px;
    color: #FFFFFF;
    background-color: #46856E;
    border: none;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.subscription__box button:hover {
    color: #46856E;
    background-color: #FFFFFF;
    transition: .4s;
    border: 2px solid #46856E;
}

.subscription__box a {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.subscription__box a:hover {
    text-decoration: underline;
}

.sss {
    display: flex;
    gap: 26px;
    flex-direction: column;
    align-items: center;
}

/* -----------------------------------------footer------------------------------------------ */
.footer {
    background-color: #2B2B2B;
    color: #FFFFFF;
    padding: 100px 0 50px;
}

.footer__content {
    display: flex;
    align-items: flex-end;
}

.footer__wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__logo {
    width: 87px;
}

.footer svg {
    width: 14px;
}

.footer__menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

}

.footer__menu-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__menu-group {
    display: flex;
    gap: 75px;
}

.footer__menu-item a {
    font-size: 14px;
}

.footer__menu-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__menu-links a:hover{
    text-decoration: underline;
}


.footer__follow-us {
    display: flex;
    gap: 17px;
    flex-direction: column;

}


.footer__follow-us p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
}
.footer__social-links {
    display: flex;
    gap: 13px;
}
.footer__follow-us img {
    width: 25px;
}

.footer__mailing-list{
    margin-left: 38px;
}
.footer__mailing-list p:first-child{
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 21px;
}
.footer__mailing-list p{
    font-size: 14px;
    margin-top: 17px;
}


.footer__input-box {
    display: flex;
    align-items: center;
    width: 327px;
    height: 54px;
    border: 1px solid white;
    opacity: 0.4;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: left;
    margin-top: 30px;
}

.footer__input-box input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #DADADA;
}

.footer__location {
    display: flex;
    gap: 5px;
    padding-right: 35px;
    margin-top: 16px;
    justify-content: flex-end;
}

.footer__location p{
    opacity: 0.5;
}

.footer__agreement {
    display: flex;
    font-size: 11px;
    width: 400px;
    color: #FFFFFF;
    opacity: 0.5;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-top: 55px;
    gap: 12px;
}

.footer__agreement label{
    width: 390px;
}

.footer__agreement input[type="checkbox"] {
    appearance: none; /* Убираем стандартный стиль */
    -webkit-appearance: none; /* Для Safari */
    width: 28px;
    height: 26px;
    margin: 0;
    border: 1px solid #999; /* Серая рамка */
    background-color: transparent; /* Прозрачный фон */
    vertical-align: middle; /* Выравнивание по центру с текстом */
    cursor: pointer;
}

/* Стиль при наведении */
.footer__agreement input[type="checkbox"]:hover {
    border-color: #666; /* Темнее при наведении */
}

/* Стиль для активного (отмеченного) чекбокса */
.footer__agreement input[type="checkbox"]:checked {
    border-color: #999;
    position: relative;
}


.footer__agreement input[type="checkbox"]:checked::before {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__sign-up{
    display: flex;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin-top: 58px;
    margin-left: 62%;
    justify-content: space-around;
}
.footer__sign-up a:hover{
    opacity: 0.5;
}


.footer__back-to-top {
    writing-mode: sideways-lr;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-transform: uppercase;
}

.footer__back-to-top:hover{
    text-decoration: underline;
}



/* ----------------------------------------media------------------------------------------ */
@media(max-width:1300px){
    .baner img{
        width: 100%;
    }
    .subscription__box{
        width: 90%;
    }
}

@media(max-width:1200px){
    .projects{
        margin-bottom: 100px;
    }
    .projects img {
        width: 450px;
    }

    .advantages{
        margin-bottom: 100px;
    }
    .advantages-box{
        width: 250px;
    }
    .advantages__content h2{
        font-size:  38px;
        width: 900px;
    }

    .advantages-box img{
        width: 120px;
    }
    .advantages-box h3{
        font-size: 18px;
    }
    .advantages-box p{
        font-size: 14px;
    }
}

@media(max-width:1100px){
    .footer__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer__menu{
        display: flex;
        gap: 90px;
        flex-direction: row;
        margin-top: 80px;
    }
    .footer__menu-group{
        gap: 90px;
    }
    .footer__follow-us {
        margin: 50px auto 65px;
        display: flex;
        flex-direction: row;
    }

}

@media(max-width:1000px){
    .projects img {
        width: 400px;
    }
    .subscription__box h3{
        font-size: 40px;
    }
    .subscription__box h3{
        font-size: 40px;
    }
    .advantages__content h2 {
        font-size: 32px;
        width: 740px;
    }
    .advantages-box {
        width: 195px;
    }
    

}

@media(max-width:900px){
    .header{
        padding-top: 280px;
    }

    .contact{
        display: flex;
            color: #AAAAAA;
            width: auto;
            min-height: 40px;
            background-color: #F4F4F4;
            overflow: auto;
            align-items: center;
            justify-content: center;
            gap: 50px;
            text-transform: uppercase;
            font-size: 12px;
            padding-right: 0px
    }
    .header-menu{
        position: absolute;
    }
    .header .menu{
        display: flex;
            width: 100%;
            min-height: 99px;
            border-bottom: 1px solid #E0E0E0;
            font-size: 14px;
            text-transform: uppercase;
            align-items: center;
            overflow: auto;
            padding: 0 75px;
            justify-content: space-between;
            flex-direction: column;
            gap: 40px;
            padding: 30px;
    }

}

@media(max-width:860px){
    .projects img {
        width: 360px;
    }
    .project p{
        text-align: center;
        margin-top: 20px;
    }
}

@media(max-width:800px){
    .projects__content{
        flex-direction: column;
        align-items: center;
    }
    .projects img {
        width: 590px;
    }
    .subscription__box h3 {
        font-size: 36px;
    }
    .subscription__box {
        width: 100%;
    }
    .advantages__content h2 {
        font-size: 26px;
        width: 640px;
    }
    .advantages__wrapper {
        padding-top: 25px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .advantages-box {
        width: 350px
    }
}

@media(max-width:750px){
    .header .menu {
        border-bottom: 0.5px solid #E0E0E0;
    }
    .footer__menu-group {
        gap: 50px;
    }
    .footer__menu {
        gap: 50px;
    }
}

@media(max-width:700px){
    .footer__menu {
        flex-direction: column;
    }
    .projects img {
        width: 80%;
        margin: auto;
    }

    .advantages__content h2 {
        font-size: 20px;
        width: 450px;
    }
    .subscription__box h3 {
        font-size: 30px;
    }
    .subscription__box img{
        width: 50px;
    }
    .subscription__box{
        height: 340px;
    }
    .subscription__box button{
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .sss{
        gap: 16px;
    }
    .advantages__content a {
        font-size: 10px;
    }
    .footer__agreement{
        justify-content: center;
    }
}

@media(max-width:500px){
    .header .menu{
        border-bottom: none;
    }
    .contact{
        font-size: 8px;
    }

    .advantages-box{
        width: 290px;
    }
    .advantages-box img{
        width: 90px;
    }
    .footer__agreement label{
        font-size: 10px;
        width: 300px;
    }
    .footer__agreement input[type="checkbox"] {
        width: 18px;
        height: 16px;
    }
    .advantages__content h2 {
        font-size: 16px;
        width: 350px;
    }
    .projects{
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .project p {
        font-size: 16px;
    }

    .baner img{
        margin: 20px auto 20px;
    }
}
